.contact-us {
  margin-top: 85px;
  margin-bottom: 125px;
}
.contact-us-title {
  text-align: center;
}
.contact-us-text {
  margin-top: 70px;
}
.contact-us-question {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 15px;
}
.contact-us-write {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 25px;
}
.button-contact {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
}
button {
  width: 466px;
  height: 81px;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  background: linear-gradient(135deg, #00c6ff, #7b00ff);
}
button:hover {
  box-shadow:
    0 0 15px 1px #00f0ff,
    0 4px 6px 1px rgba(250, 0, 255, 0.57),
    0 -2px 8px 0 rgba(0, 41, 255, 0.89);
}
@media (max-width: 770px) and (min-width: 626px) {
  .contact-us {
    margin-top: 50px;
    margin-bottom: 78px;
  }
  .contact-us-title {
    font-size: 35px;
    line-height: 214%;
    letter-spacing: 0.01em;
  }
}
@media (max-width: 625px) {
  .contact-us {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .contact-us-title {
    font-size: 20px;
  }
  .contact-us-text {
    margin-top: 22px;
  }
  .contact-us-question {
    font-size: 14px;
    padding: 0 10px;
    padding-top: 15px;
  }
  .contact-us-write {
    font-size: 18px;
  }
  .button-contact {
    margin-top: 20px;
  }
  button {
    font-size: 16px;
    width: 287px;
    height: 51px;
  }
}
