footer {
  background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0) 100%);
}
.footer-menu {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}
.footer-text {
  max-width: 300px;
}
.footer-info {
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.39);
}
.little-info {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.39);
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.number {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: right;
}
.numbers {
  font-weight: 400;
}
.mail {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: right;
}
.adress {
  font-weight: 400;
}
.politics {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
}
