footer {
  background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0) 100%);
}
.footer-menu {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.footer-mini_logos {
  display: flex;
  gap: 28px;
}
.footer-mini_logos img {
  cursor: pointer;
  transition: 0.3s;
}
.footer-mini_logos img:hover {
  transform: scale(1.1);
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 80px;
}
.menu-footer {
  display: flex;
  gap: 0 74px;
}
.footer-text {
  max-width: 300px;
}
.footer-info {
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.39);
}
.little-info {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.39);
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.number {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: right;
}
.numbers {
  font-weight: 400;
}
.mail {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: right;
}
.adress {
  font-weight: 400;
}
.politics {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: right;
}
@media (max-width: 1040px) {
  .footer-menu {
    flex-wrap: wrap;
    padding: 0 37px;
  }
  .footer-logo {
    display: flex;
    justify-content: center;
    order: 1;
    margin-left: 42%;
  }
  .menu-footer {
    gap: 30px;
    padding-top: 10px;
    order: 3;
  }
  nav a {
    font-weight: 900;
    font-size: 16px;
    line-height: 113%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 3px;
  }
  .footer-mini_logos {
    padding-top: 10px;
    padding-bottom: 0;
    order: 2;
  }
  .info-container {
    margin: 25px 36px;
  }
}
@media (min-width: 1040px) {
  .strip {
    display: none;
  }
}
