header {
  /* max-width: auto; */
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
}
.logo img {
  height: 23px;
}
.menu {
  display: flex;
  gap: 0 74px;
}
nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 113%;
  letter-spacing: 0.02em;
  text-align: center;
}
nav a:hover {
  text-decoration: underline;
}
.mini_logos {
  display: flex;
  gap: 28px;
}
.mini_logos img {
  cursor: pointer;
  transition: 0.3s;
}
.mini_logos img:hover {
  transform: scale(1.1);
}
@media (max-width: 1040px) and (min-width: 626px) {
  header {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #0b0b0f 100%),
      linear-gradient(90deg, #6284d1, #35276e, #570c70);
    flex-direction: column;
    padding: 0 37px;
    padding-top: 15px;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .menu {
    gap: 30px;
    padding: 17px 0;
  }
  nav a {
    font-weight: 900;
    font-size: 16px;
    line-height: 113%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 3px;
  }
  .mini_logos {
    display: none;
  }
}
@media (min-width: 1040px) {
  .strip {
    display: none;
  }
}
@media (max-width: 625px) {
  header {
    padding: 13px 15px 0 15px;
  }
  .logo {
    display: none;
  }
  .menu {
    display: none;
  }
  .mini_logos {
    display: flex;
    gap: 22px;
  }
  .mini_logos img {
    width: 22px;
    height: 21.57px;
  }
  .menu-list {
    display: none;
  }
  .menu-burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .menu-burger span {
    width: 24px;
    height: 2px;
    background-color: white;
  }
  .menu-burger::before {
    content: "";
    width: 24px;
    height: 2px;
    background-color: white;
  }
  .menu-burger::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: white;
  }
  .logo_mobile {
    margin-left: 15%;
  }
}

@media (min-width: 625px) {
  .menu-burger {
    display: none;
  }
  .logo_mobile {
    display: none;
  }
}
