.main {
  margin-top: 30px;
  display: flex;
  position: relative;
}
.container_info {
  z-index: 2;
}
.info_left {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.title_info {
  margin-left: 80px;
  margin-bottom: 31px;
}
.subtitle_info {
  font-weight: 800;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0.01em;
  padding-left: 80px;
  margin-top: 33px;
  max-height: 50px;
  max-width: 680px;
}
.subtitle_text {
  font-weight: 500;
}
.info_list {
  margin-top: 40px;
  margin-left: 75px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  max-width: 570px;
  height: 42px;
}
.info_text {
  line-height: 1.4;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
}
.big {
  font-weight: 500;
}
.image_info {
  max-width: 689px;
  max-height: 751px;
  z-index: 1;
  position: absolute;
  right: 62px;
}
@media (max-width: 1380px) and (min-width: 626px) {
  .main {
    flex-direction: column;
  }
  .image_info {
    display: none;
  }
  .strip-asic {
    display: none;
  }
  .container-img-tablet {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  .image-info-tablet {
    min-width: 532px;
    min-height: 250px;
  }
  .title_info {
    font-weight: 700;
    font-size: 35px;
    line-height: 114%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 0;
  }
  .space-title {
    display: none;
  }
  .info_left {
    align-items: center;
  }
  .container-info-list {
    margin-top: 5px;
    margin-right: 65px;
  }
}
@media (min-width: 1380px) {
  .image-info-tablet {
    display: none;
  }
}
@media (max-width: 625px) {
  .main {
    margin-top: 27px;
    flex-direction: column;
  }
  .info_left {
    margin-top: 0;
    align-items: center;
  }

  .title_info {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-left: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .space-title {
    display: none;
  }
  .image_info {
    display: none;
  }

  .strip-asic {
    display: none;
  }
  .subtitle_info {
    font-weight: 800;
    font-size: 18px;
    line-height: 139%;
    margin: 16px 10px 0 10px;
    text-align: center;
    padding-left: 0;
  }
  .subtitle_text {
    font-weight: 500;
  }
  .info_space {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 15px;
  }

  .info_list {
    flex-direction: column;
    margin-left: 0;
    gap: 23px;
    text-align: center;
    height: auto;
    margin-top: 0;
    padding: 0 20px 0 20px;
  }
  .icon_info {
    width: 30px;
    height: 30px;
  }
  .info_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: 0.01em;
  }
  .big {
    font-weight: 500;
  }
  .container-info-list {
    text-align: center;
  }
  .container-img-mobile {
    margin-top: 15px;
    margin-left: 30px;
    overflow: clip;
  }
  .container-img-tablet {
    display: none;
  }
}
@media (min-width: 626px) {
  .container-img-mobile {
    display: none;
  }
}
