.repair {
  margin-top: 50px;
}
.repair-title {
  text-align: center;
}
.repair-services {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.service {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.service:hover {
  box-shadow: 0 0 15px 0 rgba(0, 255, 255, 0.47);
}
.service-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: absolute;
}
.litle-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.repair-circle {
  position: relative;
}
@media (max-width: 770px) and (min-width: 626px) {
  .repair {
    margin-top: 30px;
  }
  .repair-title {
    font-size: 35px;
    line-height: 214%;
    letter-spacing: 0.01em;
  }
  .repair-services {
    margin-left: 39px;
    margin-right: 39px;
    margin-top: 30px;
  }
  .repair-circle svg {
    width: 186.27px;
    height: 180px;
  }
}
@media (max-width: 625px) {
  .repair {
    margin-top: 40px;
  }
  .repair-title {
    font-size: 20px;
  }
  .repair-circle {
    display: none;
  }
  .repair-services {
    flex-direction: column;
    border-radius: 25px;
    background: linear-gradient(135deg, #00c6ff, #7b00ff);
    margin: 0 15px;
    margin-top: 40px;
  }
  .litle-text {
    font-size: 16px;
  }
  .service-text {
    font-size: 16px;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .service {
    border-radius: 0%;
    border-bottom: 1px solid white;
    margin: 0 20px;
  }
  br {
    display: none;
  }
  .last-service {
    border-bottom: none;
  }
  .service:hover {
    box-shadow: none;
  }
}
